/* Container untuk konten utama */
#mainContent {
    margin-top: 20px;
}

/* Style untuk heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Style untuk card utama */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}

.card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

/* Style untuk accordion (Materi dan Tugas) */
.accordion {
    margin: 20px 0;
}

.accordion h3 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.accordion-item {
    border: none;
    margin-bottom: 10px;
}

.accordion-button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #0056b3;
}

.accordion-button:not(.collapsed) {
    background-color: #0056b3;
}

.accordion-body {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 4px;
}

.btn-large {
    padding: 15px 30px; /* Adjust padding for larger buttons */
    font-size: 1.2rem; /* Increase font size */
}

.check-icon {
    margin-left: 10px; /* Space between button and checkmark */
    color: green; /* Color for the checkmark */
}


/* Style untuk Materi */
.accordion-body h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.accordion-body .btn-primary {
    width: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1rem;
}

.accordion-body .btn-primary:hover {
    background-color: #0056b3;
}

/* Style untuk Tugas Button */
.accordion-body .btn-warning {
    width: 100%;
    background-color: #ffc107;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 10px 30px;
    display: inline-block;
}

.accordion-body .btn-warning:hover {
    background-color: #e0a800;
}

/* Style untuk section tugas */
.mt-2 {
    margin-top: 10px;
}

/* Styling tombol Kerjakan Tugas */
.btn-lg {
    font-size: 1.25rem;
    padding: 12px 24px;
    border-radius: 6px;
}

.materi-done, .tugas-done {
    position: relative;
    display: inline-block;
}

.materi-done .btn-primary, .tugas-done .btn-warning {
    padding-right: 40px; /* Beri ruang untuk ikon ceklis */
}

.check-icon {
    display: none; /* Sembunyikan ikon ceklis secara default */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #28a745;
    font-size: 1.5rem;
}

.materi-done .check-icon {
    display: inline; /* Tampilkan ikon ceklis jika materi sudah diunduh */
}



