.container h2 {
    font-weight: bolder;
    margin-bottom: 20px; /* Spacing below the heading */
}

/* label kelas */

.form-label {
    font-weight: bold;
}

.form-select, .form-control {
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.selected-value {
    display: none;
}


/* Table Styles */
.table {
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 1rem;
    background-color: #ffffff;
}

/* Kolom judul tabel */
.table thead th {
    background-color: #007bff;
    color: #000000;
    border: 1px solid #dee2e6;
    padding: 10px; /* Add padding for better spacing */
}


.table tbody td {
    border: 1px solid #dee2e6;
    padding: 10px; /* Add padding for better spacing */
}


.table tbody tr td[contenteditable="true"] {
    background-color: #fffbf2;
    border: 1px dashed #ced4da;
}


/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}








/* Responsive Adjustments */
@media (max-width: 767px) {
    .table {
        font-size: 0.875rem;
    }
}


@media print {
    body * {
        visibility: hidden;
        margin: 0;
    }
    
     /* Tampilkan elemen judul, informasi kelas, dan tabel rapot */
     h2, 
     p,
     .selected-value, /* Untuk nilai siswa dan kelas yang dipilih */
     .table, 
     .table * {
         visibility: visible;
     }

    .selectSiswa, .selectKelas, .selected-value, #printBtn, .navbar {
        display: none;
    }

    .container h2 {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bolder;
        
    }

    p {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bolder; 
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid #000;
    }
    th, td {
        padding: 1px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    /* Menghilangkan kolom 'Nama Guru' */
    @media print {
        td:nth-child(4), th:nth-child(4) {
            display: none;
        }
    }
}

